h1	 {
	font: bold 1.5em Tahoma, Arial, sans-serif;
	color: #006600;
	background-color: #FFFF00;
	background-image: url(../images/HairMasters_Banner.JPG);
	background-repeat: no-repeat;
	padding: 1em 1em 1em 135px;
	 }

h2	 {
	font: bold 1.5em Tahoma, Arial, sans-serif;
	color: #006600;
	background-color: #000000;
	 }

h3	 {
	font: bold 1.25em Tahoma, Arial, sans-serif;
	color: #006600;
	background-color: #000000;
	 }

p	 {
	font-family: Verdana, Arial, sans-serif;
	 }

ul 	 { 
	font-family: Verdana, Arial, sans-serif;
	list-style-type: square;
	 }

a:link	{
		color:#0000FF;
		background-color: #000000;
		text-decoration: none;
		}
a:visited	{
		color:#006600;
		background-color: #000000;
		text-decoration: none;
		}	
a:hover	{
		color:#FF0000;
		background-color: #000000;
		text-decoration: underline;
		}	
